@model AddBookRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Kitap İsmi</label>
                    <input class="form-control" id="inputName" name="Name" />
                    <label>Sayfa Sayısı</label>
                    <input class="form-control" id="inputTotalPages" name="TotalPages" />
                    <label>Yayın Evi</label>
                    <select id="publisher" class="form-control" asp-for="PublisherId" asp-items="ViewBag.SelectedPublisher">
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Fiyat</label>
                    <input class="form-control" id="inputPrice" name="Price" />
                    <label>Resim Yolu</label>
                    <input class="form-control" id="inputImageUrl" name="ImageUrl" />
                    <label>Yazar</label>
                    <select class="form-control" id="writer" asp-for="WriterId" asp-items="ViewBag.SelectedWriter"></select>
                </div>
                <div class="col-md-3">
                    <label>Açıklama</label>
                    <input class="form-control" id="inputDescription" name="Description" />
                    <label>Kitap En</label>
                    <input class="form-control" id="inputWidth" name="Width" />
                    <label>Kitap Boy</label>
                    <input class="form-control" id="inputHeight" name="Heigth" />

                </div>
                <div class="col-md-3">

                    <label>Kapak Türü</label>
                    <input class="form-control" id="inputCoverType" name="CoverType" />
                    <label>Kitap Dili</label>
                    <input class="form-control" id="inputLanguage" name="Language" />
                    <label>Kategori</label>

                    <ul class="list-group " style=" overflow:scroll; max-height:100px;">
                        @foreach (var item in Model.Categories)
                        {
                            <li class="list-group-item" style="height:500px"><label><input type="checkbox" class="form-check-input me-1" name="filter" value="@item.Id"> <span style="color:grey;" name="">@item.Name</span> </label></li>

                        }
                    </ul>

                    <br />
                    <button id="btnEkle" class="btn btn-success mt-1" type="submit">Kaydet</button>
                </div>

            </div>
        </div>
    </div>


@section Scripts{
<script>
    
    $("#btnEkle").click(function(){
         var langPref = [];
         var item = document.getElementById("publisher");
         var publisherid = item.value;
         var item2 = document.getElementById("writer");
         var writer = item2.value;
         var book2 = {
            Name : $("#inputName").val(),
            TotalPages : $("#inputTotalPages").val(),
            Price : $("#inputPrice").val(),
            ImageUrl : $("#inputImageUrl").val(),
            Description : $("#inputDescription").val(),
            Width : $("#inputWidth").val(),
            Heigth : $("#inputHeight").val(),
            CoverType : $("#inputCoverType").val(),
            Language : $("#inputLanguage").val(),
            PublisherId : publisherid,
            WriterId : writer
         };
         $.each($("input[name='filter']:checked"), function() {
         langPref.push($(this).val());
         });
        var categories2 = JSON.stringify(langPref);
        var bookr = JSON.stringify(book2);
                                 
                            $.ajax({

                                url:'/Book/Create/',
                                data: { book : book2, categories:categories2 },
                                type:'post',
                                dataType: 'json',
                                success: function(data)
                                {
                                   if(data){
                                   location.href = "/Book/BookList";
                                   }
                                 
                                }

                                });
    
    })
        
</script>
}

